* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
}
  .clearfix::after {
    content:"";
    display:block;
    clear: both;
   }

.btn-group-vertical {
    padding: 0 20px;
    display: inline-block;
}
.for-btn {
    width: 100%;
}
.col-xs-10 {
    width: 47%;
}
.btn_user {
    color: rgb(66, 63, 63);
}

.user-explanation {
    margin-left: 550px;
    width: 100%;
}
footer {
    margin-left: 495px;
    text-align: center;
}

.btn-top {
    width: 200px;
}

.log-in {
    margin: 50px;
}

.table-user {
    border-collapse: collapse;
}

.table-book {
    width: 75%;
}

.btn-gear {
    width: 30px;
}